@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #381868;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* background */
.div_background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -100px;
    display: flex;
    justify-content: space-between;
    opacity: 0.05;
    overflow: hidden;
}
.img_background {
    width: 30px;
    height: 30px;
    animation: backgroundAnimation 2.2s linear infinite;
}
@keyframes backgroundAnimation {
    0% {
        transform: translateY(100vh)  scale(0.8);
    }
    50% {
        transform: translateY(50vh) scale(1);
    }
    100% {
        transform: translateY(0vh) scale(0.5);
    }
}

/* título e textos */
h1 {
    position: absolute;
    top: 15vh;
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 55px;
    color: #46dede;
    text-shadow: 1px 1px 5px #46dede;
}
h2 {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: rgb(222, 222, 222);
}

/* inputs */
.div_inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input {
    width: 300px;
    height: 25px;
    background-color: transparent;
    color: #dedede;
    border: 2px solid #46dede;
    box-shadow: 0.5px 0.5px 5px #46dede;
    outline: none;
    padding: 2px 0px 2px 8px;
}
label {
    display: flex;
    align-items: center;
    gap: 8px;

    color: rgb(222, 222, 222);
    font-family: "Courier Prime";
    font-weight: 400;
    font-size: 15px;
}
    
/* botão de iniciar */
.btn_actions {
    position: absolute;
    bottom: 15vh;
    width: 130px;
    height: 30px;
    background-color: transparent;

    color: #46dede;
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    border: 2px solid #46dede;
    cursor: pointer;
}
.btn_actions:hover {
    box-shadow: 0 0 8px #46dede;
}

/* imagens */
.img_player {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 500px) {
    h1{
        font-size: 40px;
    }
    label {
        display: flex;
        flex-direction: column;
    }
}