@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #381868;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* título e textos */
h1 {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 40px;
    color: #46dede;
    text-shadow: 0.5px 0.5px 4px #46dede;
}
h3 {
    font-family: "Courier Prime";
    font-weight: 700;
    font-size: 17px;
    color: rgb(222, 222, 222);
}

/* tabuleiro */
.div_tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    margin-top: 10px;
    background-color: transparent;
}
button {
    width: 15vh;
    height: 15vh;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
button:hover {
    background-color: #4b25846b;
}

/* bordas do tabuleiro */
.btn1 {
    border-right: 3px solid #dedede;
    border-bottom: 3px solid #dedede;
}
.btn2 {
    border-bottom: 3px solid #dedede;
}
.btn3 {
    border-right: 3px solid #dedede;
}

/* imagens */
.img_positions {
    width: 8vh;
    height: 7.8vh;
}
.img_player {
    width: 15px;
    height: 15px;
}

/* placar */
.div_placar {
    width: 50vw;
    height: 10vh;
    border: 2px solid #46dede;
    padding: 8px 30px;
    margin-top: 30px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Courier Prime";
    font-size: 14px;
}
#player1, #player2 {
    display: grid;
    justify-items: center;
    gap: 5px;
    color: #dedede;
}
#name_p1, #name_p2 {
    margin: 0;
}
#scores1, #scores2 {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}

/* resultados */
.div_resultados {
    width: 50vw;
    height: 20vh;
    border: 2px solid #46dede;
    margin-top: 50px;
    margin-bottom: 20px;
   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Courier Prime";
    font-size: 15px;
    text-align: center;
}
#result_player1, #result_player2 {
    margin: 0;
    margin-bottom: 10px;
    color: #dedede;
}
#result_final {
    margin: 0;
    margin-top: 15px;
    color: #dedede;
    font-size: 18px;
    font-weight: 700;
}

/* botões de zerar e finalizar */
.div_buttons {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}
.btn_actions {
    width: 110px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #46dede;
    cursor: pointer;

    color: #46dede;
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    text-align: center;
}
.btn_actions:hover {
    background-color: transparent;
    box-shadow: 0 0 8px #46dede;
}

/* classe display none */
.display_none {
    display: none;
}

@media screen and (max-width: 600px) {
    button {
        width: 12vh;
        height: 12vh;
    }
    .div_resultados {
        width: 75vw;
    }
}